# For Stopwatch
/Stopwatch/output
/Stopwatch/*.out 
/Stopwatch/todo*
/Stopwatch/test*

#For Calculator
/Simple Calculator/output
/Simple Calculator/*.out
/Simple Calculator/todo*
/Simple Calculator/test*

#For Number guessing game
/Number Guessing Game/output
/Number Guessing Game/*.out
/Number Guessing Game/todo*
/Number Guessing Game/test*